//==
//== Functions
//== ======================================= ==//

@function rem($px) {
  @if variable_exists(rhythm-base-font-size) {
    @return $px / $rhythm-base-font-size * 1rem;
  } @else {
    @return $px / 16px * 1rem;
  }
}

@function em($font-size, $base: $rhythm-base-font-size) {
  $base: if(variable_exists(rhythm-base-font-size), $rhythm-base-font-size, 16px);
  @return ($font-size / $base) * 1em;
}

@function nnResponsiveFontSize($fzMin, $fzMax, $wMin, $wMax, $units: px) {
  $fzMin: nnStripUnits($fzMin);
  $fzMax: nnStripUnits($fzMax);
  $wMin: nnStripUnits($wMin);
  $wMax: nnStripUnits($wMax);

  $k: ($fzMax - $fzMin)/($wMax - $wMin);
  $b: ($fzMin - $k * $wMin);

  @if ($b < 0) {
    @return calc(#{$k * 100vw} - #{$b * -1}#{$units});
  } @else {
    @return calc(#{$k * 100vw} + #{$b}#{$units});
  }
}
