//==
//== Service functions
//== ======================================= ==//

@function nn-map-get($map, $key, $default: null) {
  @if map_has_key($map, $key) {
    @return map_get($map, $key);
  } @else {
    @return $default;
  }
}

@function nn-compare($map, $key, $actual) {
  @return nn-map-get($map, $key) == $actual;
}

// Color contrast
@function color-yiq($color, $dark: $nn-yiq-text-dark, $light: $nn-yiq-text-light) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $nn-yiq-contrasted-threshold) {
    @return $dark;
  } @else {
    @return $light;
  }
}

//==
//== https://stackoverflow.com/questions/12328259/how-do-you-strip-the-unit-from-any-number-in-sass/12335841#12335841
//== ===================================================================== ==//

@function nnStripUnits($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
